.main{
    background-color: #ffffffcc;
    height: 100%;
}
.main img{
    height: 100%;
    width: 100%;
}
.MainContainer{
    height: 950px
   
}
.footerContainer{
    background-color: blueviolet;
    height: 150px;
}
.HeaderContainer{
    background-color: rgb(21, 0, 43);
}
.row{
    margin-top:130px;
} 
.position-relative {
    position: relative;
}

.position-absolute {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
    font-size: 4rem;
    font-weight: bold;
    text-shadow: 2px 2px #000;
}
.ContainerImg{
    background-color: #555;
    height: 390px;
}
.ContainerImg img{
    height: 100%;
    width: 100%;
}
.ContainerVid{
    background-color: #888;
    height: 265px;
    width: 50%;
    float: left;
    margin-top: 4px;
    margin-right: 2px;
}
.ContainerVid video{
    width: 100%;
    height: 100%;
}
.container-fluid p{
    width: 100%;
    font-size: x-large;
}
.container-fluid
{
width: 50%;
}
@media (max-width: 1350px) {
    .ContainerImg img{
        height: 100%;
        width: 100%;
    }
}
