.main{
    background-color: #555;
    height: 100%;
}
.main img{
    height: 100%;
    width: 100%;
}
.MainContainer{
    height: 950px
}
.footerContainer{
    background-color: blueviolet;
    height: 150px;
}